
body {
    font-family: Palatino, URW Palladio L, serif;
    background-color: whitesmoke;
}
/* Start of header style */
.header {
    display: flex;
    width: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: lightgray;
    border: 2px solid black;
    
}
.header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
}
.header a {
    text-decoration: none;
    color: black;
    font-style: bold;
    text-align: right;
    padding: 10px;
    border-bottom: 3px;
}
.header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero Style Start */
.hero {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid black;
}
/* Hero Style Ends */

/* about me section starts */
.flex-container {
   display: flex;
}
.flex-item-1 {
    flex-direction: column;
    width: 100%;
    border-bottom: black;
}
.flex-item-2 {
    flex-direction: column;
    width: 100%;
    border-bottom: black;
}
.flex-item-3 {
    flex-direction: column;
    width: 100%;
    border-bottom: black;
}
.intro {
    line-height: 1.7;
    color: black;
    width: 80%;
    font-size: 20px;
    margin: auto;
    text-align: center;

}
/* Contact info style */
.contact-info > * {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}